# ignore pycache folder (pandas cython caching)
__pycache__
*.py[cod]


# ignore logs
**/logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# IDE internal data
.vscode/
.pylint.d/


# ignore tests output folder 
agglpy/tests/output/
agglpy/tests/profiling/

# ignore pytest cache
.pytest_cache/
